<section class="min-h-screen flex items-center justify-center bg-slate-900">
  <div class="container-xl ">
    <div class="flex gap-10 md:gap-20">
      <div class="text-center space-y-4">
        <h1 class="text-4xl md:text-6xl font-bold text-sky-600">Hey, I’m Ahamed</h1>
        <p class="text-lg md:text-xl text-sky-700 max-w-md">
          I build things, mostly break things, and sometimes deploy things too. Here's where to find me.
        </p>
        <p class="text-lg md:text-xl text-sky-700 max-w-md">
          Oh that's awkward, it seems I broke this too, it was out of date anyway. Find a more interactive version of this resume <a href="https://interactive.ahamedwajibu.com" class="text-sky-500 underline">here</a>.
        </p>
      </div>
    </div>
  </div>
</section>