<section class="px-0 md:pl-60 flex flex-col md:flex-row items-center justify-start gap-10 md:gap-20 min-h-screen mt-2 md:mt-0">
    <div class="px-10 md:w-1/2 text-center md:text-left space-y-4 z-10">
      <h1 class="text-4xl md:text-6xl font-bold">Hey, I’m Ahamed</h1>
      <p class="text-lg md:text-xl text-gray-300 max-w-md">
        I build things, mostly break things, and sometimes deploy things too. Here's where to find me.
      </p>
    </div>

    <div id="bubble-container" class="md:w-1/2 relative h-[550px] md:h-[400px] w-full -mt-10 md:mt-0 -ml-11 md:ml-0">
        <div class="bubble-wrapper" data-label="GitHub" data-desc="I post my random personal and school projects here" data-url="https://github.com/amw720386">
          <i class="fab fa-github fa-lg"></i>
        </div>
        
        <div class="bubble-wrapper" data-label="LinkedIn" data-desc="Classic LinkedIn with my work experience and current position" data-url="https://www.linkedin.com/in/ahamed-wajibu-8239472b5/">
          <i class="fab fa-linkedin-in fa-lg"></i>
        </div>
        
        <div class="bubble-wrapper" data-label="Email" data-desc="Reach out to me for anything – jobs, questions, or collabs at ahamedw2006@gmail.com" data-url="mailto:ahamedw2006@gmail.com">
          <i class="fas fa-envelope fa-lg"></i>
        </div>        
      </div>      
  </section>
  