<section class="text-left py-8 pl-8 border-y-2 border-black bg-white text-black">
    <h2 class="text-3xl font-bold mb-2">Rick N Mordle</h2>
    <p class="text-lg mb-4">A stupid implementation of wordle with a Rick n Morty twist!</p>
    <a href="/RickNMorty">
      <button class="bg-black text-white px-6 py-2 rounded hover:bg-gray-800 transition">
        Click here!
      </button>
    </a>
  </section>

  <section class="text-left py-8 pl-8 border-y-2 border-black bg-white text-black">
    <h2 class="text-3xl font-bold mb-2">Mask of the Tomb Puzzle Game</h2>
    <p class="text-lg mb-4">A test very raw implementation of the mobile game Mask of the Tomb!</p>
    <a href="/puzzlegame">
      <button class="bg-black text-white px-6 py-2 rounded hover:bg-gray-800 transition">
        Click here!
      </button>
    </a>
  </section>
  
  