<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='logo.svg') }}">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ahamed Mohamed Wajibu</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="description" content="Hi I'm Ahamed! I build things, mostly break things, and sometimes deploy things too." /> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg-background text-text overflow-x-hidden">
  <div id="cursor-glow"></div>

  {% include '/partials/navbar.html' %}
  {% include '/partials/home/hero.html' %} 

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
